<div class="container" id="avatar-container">
  <div id="avatar-margin">
    <% if @booking.caravan.user.photo.present? %>
      <%= cl_image_tag @booking.caravan.user.photo.key, width: 60, height: 60, crop: :fill, gravity: :auto %>
    <% else %>
      <%= image_tag "https://www.pngall.com/wp-content/uploads/12/Avatar-Profile-Vector-PNG-Cutout.png", class: "avatar" %>
    <% end %>
  </div>
  <div id="avatar-content">
    <div id="username-right">
      <h4><%= @booking.caravan.user.username %></h4>
    </div>
    <div class="icons-group-avatar">
      <div><a href="#" class="fa-brands fa-whatsapp"></a></div>
      <div><a href="#" class="fa-solid fa-envelope"></a></div>
      <div><a href="#" class="fa-brands fa-linkedin"></a></div>
    </div>
  </div>
</div>
<%# This will only work for the show page of the booking as you see i did @booking.caravan etc.. %>
