<div class="container" id="avatar-container">
  <div id="avatar-margin" style="height: 60px; width: 60px; background-color: darkgrey; border-radius: 50%;">
   <h4><div id="username-right"><%= @booking.caravan.user.username %></div></h4>
  </div>
  <div class="icons-group-avatar">
    <a href="#" class="fa-brands fa-instagram"></a>
    <a href="#" class="fa-brands fa-twitter"></a>
    <a href="#" class="fa-brands fa-linkedin"></a>
  </div>
</div>

<%# This will only work for the show page of the booking as you see i did @booking.caravan etc.. %>
