.booking-container {
  margin: 0 300px;
}

.booking-box {
  display: flex;
  align-items: center;
  margin: 20px;
  border: 1px solid black;
  height: 300px;
  h6 {
    font-weight: 100;
  }
}

.content {
  margin: 20px;
}
