.bookings-show {
  width: 1120px;
  padding: 20px 80px;
  margin: 0 auto 30px auto;
  border: 0.2px solid $main-buttons-color;
  border-radius: 20px;

  h1,
  h2,
  h3 {
    font-family: $headers-font;
    color: $header-color;
  }

  h1 {
    margin-bottom: 30px;
  }

  p {
    font-family: $body-font;
    color: $paragraph-color;
  }

  .show-images-container-bookings {
    width: 213%;
    height: 321px;
    background-color: transparent;
    border-radius: 15px;
    margin-right: 20px;
  }

  .photo-img-booking {
    height: 100%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
  }
}

.container-image-text {
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
}

.description-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #f3dabd !important;
  border: 1px solid #f3dabd;
}
