    <footer class="site-footer">
      <div class="container">
          <div class="row-headers">
            <div class="all-links">
              <div class="">
                <%= "© 2022 Vanify, Inc." %>
              </div>
              <div class="footer-links">
                <%= link_to "About Us", "#"%>
              </div>
              <div class="footer-links">
                <%= link_to "Contact Us", "#"%>
              </div>
              <div class="footer-links">
                <%= link_to "Support", "#"%>
              </div>
            </div>
            <div class="icons-group">
              <a href="#" class="fa-brands fa-instagram"></a>
              <a href="#" class="fa-brands fa-twitter"></a>
              <a href="#" class="fa-brands fa-linkedin"></a>
            </div>
          </div>
</footer>
