<div class="caravans-user-listings">
  <h1>User listings</h1>
  <% if @caravans.empty? %>
    <h2>You have no caravans listed</h2>
  <% else %>
    <% @caravans.each do |caravan| %>
      <div class="user-listing">
        <div class="image-container"></div>
        <div class="content"></div>
      </div>
    <% end %>
  <% end %>
</div>
