#avatar-container {
  border: solid 1px;
  border-radius: 60px;
  padding: 10px;
  width: 300px;
  height: 100px;
  display: flex;
}

#avatar-content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

#avatar-margin {
  height: 60px;
  width: 60px;
  margin-right: 10px;
  background-color: darkgrey;
  margin-top: 9px;
  border-radius: 50%;

  .avatar {
    border-radius: 50%;
  }
}

#username-right {
  padding-left: 24px;
}

.icons-group-avatar {
  display: flex;
  justify-content: space-evenly;
  margin: 0px;
  padding-right: 20px;

  a {
    font-size: 25px;
    text-decoration: none;
    color: $header-color;

    &:hover {
      color: $hover-color;
      text-decoration: none;
    }
  }
}
