.navbar-lewagon {
  justify-content: space-between;
  background: #f3f3f1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  margin-right: 40px;
}

#logo-text {
  position: absolute;
  left: 80px;
  text-shadow:  0.5px 0.5px #e49999;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-item-dropdown {
 border-radius: 50%;
}

// IN CASE THIBAULT DOES NOT LIKE BOOTSTRAP
// .nav-link {
//   background-color: #008CBA;
//   border: none;
//   border-radius: 5%;
//   color: white;
//   padding: 15px 32px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   font-size: 16px;
// }

// .nav-item {
//   color: white;
// }
