.navbar-lewagon {
  justify-content: space-between;
  background: #f3f3f1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  margin-right: 70px;
}

#logo-text {
  text-shadow:  0.5px 0.5px #e49999;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px
}

.nav-item-dropdown {
 border-radius: 50%;
}



#logo-text {
  margin-left: 10px;
}

.logo-text-nav {
  display: flex;
  margin-left: 78px;
}
