.navbar-lewagon {
  justify-content: space-between;
  background: $background-color;
  border-bottom: 0.1rem solid white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  filter: hue-rotate(180deg) saturate(40%);
}

.nav-item {
  margin-right: 78px;
}

#logo-text {
  text-shadow: 0.5px 0.5px #e49999;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
}

.nav-item-dropdown {
  border-radius: 50%;
}

#logo-text {
  margin-left: 10px;
}

.logo-text-nav {
  display: flex;
  margin-left: 78px;
}

.nav-link-button {
  text-decoration: none;
  color: #29323d;
  font-weight: bolder;
}
